<div class="row">
	{{#each technologies}}
	<div class="col s6 m4 l3">
		<div class="card">
			<div class="card-image">
				<div class="container">
					<img src="images/logos/{{image}}.png">
				</div>
			</div>
			<div class="card-content">
				<p class="center-align">{{name}}</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>
