<div class="row">
	{{#each technologies}}
	<div class="col l3">
		<div class="card">
			<div class="card-image">
				<img src="images/logos/{{image}}.png">
			</div>
			<div class="card-content">
				<p>{{name}}</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>
